<!DOCTYPE html>
<html>
  <head>
    <title>Your car dealership</title>
  </head>
  <body>
      <h1>Your Car Dealership</h1>
      {% if cars_matching_search is not empty %}
          <p>Here are your car search matches:</p>
          <ul>
              {% for car in cars_matching_search %}
                    <p><strong>{{ car.getMake_Model }}</strong></p>
                    <ul>
                        <li>${{ car.getPrice }}</li>
                        <li>{{ car.getMiles }} miles</li>
                    </ul>
                    <p><img src='{{ car.getPicture }}'></p>
                    <br></br>
              {% endfor %}
          </ul>
          {% else %}

          <p>Sorry, there are no car matches.</p>
      {% endif %}
  </body>
</html>
