<!DOCTYPE html>
<html>
  <head>
    <title>Your car dealership</title>
  </head>
  <body>
      <h1>Your Car Dealership</h1>
      {% if cars_matching_search is not empty %}
          <p>Here are your car search matches:</p>
          <ul>
              {% for Car cars_matching_search %}
      {% endif %}
  </body>
</html>
